html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  background-image: url(../images/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.header__wrapper {
  padding: 0 15px;
  text-align: center;
}
.header__title {
  font-size: 56px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 25px;
}
.header__subtitle {
  letter-spacing: 0.2em;
  width: 385px;
  text-align: center;
  margin: 0 auto 25px;
}
.header__arrow {
  cursor: pointer;
}
.header__arrow-link {
  display: inline-block;
  transition: all 0.3s;
}
.header__arrow-link:hover {
  transform: scale(2);
}

.portfolio {
  margin-bottom: 100px;
}
.portfolio__title {
  font-size: 46px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 70px;
}
.portfolio__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio__cart {
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
  margin-bottom: 60px;
  transition: all 0.5s;
  /* ! */
  position: relative;
  text-align: center;
}
.portfolio__cart:hover {
  transform: scale(1.05);
}
.portfolio__cart-link {
  display: block;
  padding: 20px 20px 30px;
  box-shadow: 0px 10px 40px rgb(126 155 189 / 35%);
  border-radius: 5px;
}
.portfolio__cart-img {
  box-shadow: 0px 10px 40px rgb(126 155 189 / 35%);
  width: 100%;
  margin-bottom: 15px;
}
.portfolio__cart-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 15px;
}
.portfolio__cart-text {
  font-weight: 400;
  margin-bottom: 20px;
}
.portfolio__cart-hover-text {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  box-shadow: 0px 10px 40px rgb(126 155 189 / 35%);
  width: 100%;
  margin-left: auto;
  padding: 15px;
  /* ! */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255 255 255 / 70%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}
.portfolio__cart:hover .portfolio__cart-hover-text {
  opacity: 1;
}

.footer {
  background-color: rgb(126 155 189 / 35%);
  box-shadow: 0px 10px 40px rgb(126 155 189 / 35%);
  padding: 50px 0;
  text-align: center;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__autor {
  order: -1;
}
.footer__autor-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 20px;
}
.footer__autor-subtitle {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.footer__social {
}
.footer__social-title,
.footer__contact-title {
  margin-bottom: 15px;
}
.footer__social-item {
}
.footer__social-link,
.footer__contact-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: all 0.3s;
}
.footer__social-link + .footer__social-link,
.footer__contact-link + .footer__contact-link {
  margin-left: 30px;
}
.footer__contact {
}
.footer__contact-item {
}

.footer__contact-link:hover,
.footer__social-link:hover {
  transform: scale(1.3);
}
